<div class="m-3">
  <form class="row g-3">

    <div class="col mb-3">
      <div class="card">
        <div class="card-header">
          System Settings
        </div>
        <div class="card-body">
          <div class="row mb-3">
            <label for="sysName" class="col-sm-3 col-form-label">System Name</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="sysName" value="Joe Cool eNB">
            </div>
          </div>
          <div class="row mb-3">
            <label for="sysDesc" class="col-sm-3 col-form-label">System Description</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="sysDesc" value="A super cool eNB">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col mb-3">
      <div class="card">
        <div class="card-header">
          LTE Settings
        </div>
        <div class="card-body">
          <div class="row mb-3">
            <label for="enbIdField" class="col-sm-3 col-form-label">eNB ID</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="enbIdField" [(ngModel)]="enbId" name="enb id" (input)="checkValid()">
            </div>
          </div>
          <div class="row mb-3">
            <label for="plmnIdField" class="col-sm-3 col-form-label">PLMN ID</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="plmnIdField" [(ngModel)]="plmnId" name="plmn id" (input)="checkValid()">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 mb-3">
      <button class="btn btn-primary" type="submit" [disabled]="!isValid">Submit</button>
    </div>

  </form>

  <hr>

  <div class="row g-3">
    <div class="col mb-3">
      <div class="card" #chart1>
        <div class="card-header">
          Chart I
          <button (click)="toggleSize1()">Toggle View</button>
        </div>
        <div class="card-body">
            <apx-chart
            [series]="dailyMeanTemp.series"
            [chart]="dailyMeanTemp.chart"
            [xaxis]="dailyMeanTemp.xaxis"
            [title]="dailyMeanTemp.title"
          ></apx-chart>
        </div>
      </div>
    </div>
    <div class="col mb-3">
      <div class="card" #chart2>
        <div class="card-header">
          Chart II
          <button (click)="toggleSize2()">Toggle View</button>
        </div>
        <div class="card-body">
            <apx-chart
            [series]="avgSnow.series"
            [chart]="avgSnow.chart"
            [xaxis]="avgSnow.xaxis"
            [title]="avgSnow.title"
          ></apx-chart>
        </div>
      </div>
    </div>
  </div>

</div>